* {
  padding: 0;
  margin: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  grid-auto-flow: dense;
}
h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
}

.item {
  background: red;
}
.container .header {
  grid-column: 1/-1;
  background: rgb(115, 238, 141);
}
.container .menu {
  grid-column: 1/3;
  grid-row: 2/6;
  background: rgb(230, 179, 39);
}
.container .content {
  grid-column: 3/-1;
  background: rgb(39, 84, 230);
}
.container .small_1 {
  grid-column: span 3;
  background: rgb(27, 197, 189);
}
.container .small_2 {
  grid-column: span 3;
  background: rgb(58, 27, 197);
}
.container .small_3 {
  grid-column: span 4;
  grid-row: span 2;
  background: rgb(27, 197, 189);
}
.container .small_4 {
  grid-column: span 3;
  grid-row: span 2;
  background: rgb(197, 67, 27);
}

.container .small_5 {
  grid-column: span 1;
  background: rgb(197, 194, 27);
}

.container .small_6 {
  grid-column: span 7;
  background: rgb(197, 27, 183);
}
.container .small_7 {
  grid-column: span 2;
  background: rgb(118, 197, 27);
}

.container .footer {
  grid-column: 1/-1;
  background: rgb(95, 197, 27);
}
.container_two {
  width: 1170px;
  margin: 0 auto;
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  grid-auto-flow: dense;
  grid-template-areas:
    "m m h h h h h h h h h h"
    "m m c c c c c c s2 s2 s2 s2"
    "s1 s1 s1 s1 s1 s1 s1 s1 s2 s2 s2 s2"
    "f f f f f f f f f f f f";
}
.container_two .header {
  grid-area: h;
}
.container_two .menu {
  grid-area: m;
}
.container_two .content {
  grid-area: c;
}
.container_two .small_1 {
  grid-area: s1;
}
.container_two .small_2 {
  grid-area: s2;
}
.container_two .footer {
  grid-area: f;
}
